:host {
  display: inline-block;
}

i[nz-icon] {
  font-size: 32px;
  color: #999;
}
.ant-upload-text {
  margin-top: 8px;
  color: #666;
}
:host ::ng-deep .ant-upload.ant-upload-select-picture-card{
  width: 102px;
  min-height: 102px;
}

:host ::ng-deep .ant-upload-list-picture-card .ant-upload-list-item{
   width: 102px;
   height: auto;
   min-height: 102px;
   &.ant-upload-list-item-uploading {
    //  text-align: center;
     .ant-upload-list-item-uploading-text {
       padding-left: 8px;
     }
   }
   .ant-upload-list-item-info {
     height: auto;
     .ant-upload-list-item-thumbnail {
       height: auto;
       img {
         height: auto;
       }
     }
   }
}