@import "../style/vars";

nz-tabset {
    /deep/.ant-tabs-bar {
        margin-bottom: 5px !important;
    }
}
qk-scrollbar {
    height: calc(100vh - 150px);
    nz-list {
        nz-list-item {
            display: block;
        }
    }
    .scrollbar-loading {
        text-align: center;
        background: rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        padding: 30px 50px;
        margin: 0 !important;
    }
    &.case-list {
        .case-title {
            margin-left: 10px;
        }
        .case-content {
            color: rgb(27,25,26);
            display: inline-block;
            vertical-align: top;
            width: calc(100% - 89px);
            cursor: pointer;
        }
        .body-title {
            color: rgb(190,190,190);
            display: inline-block;
            width: 60px;
        }
        .case-source {
            color: rgb(30,30,30);
        }
        .case-section {
            color: rgb(180, 50, 130);
        }
        .case-content {
            color: rgb(120, 120, 160);
        }
    }
    &.book-name-list {
        .book-img{
            width: 85px;
            margin-left: 10px;
            height: 130px;
            background: url('./img/book.png') no-repeat;
            background-size: 100%, auto;
            display: inline-block;
            vertical-align: top;
            span {
                writing-mode: vertical-rl;
                display: inline-block;
                width: 54px;
                height: 141px;
                text-align: center;
                margin: -12px 0px 0;
                word-wrap: break-word;
                line-height: 54px;
                white-space: nowrap;
                overflow: hidden;
            }
        }
        .book-body {
            display: inline-block;
            vertical-align: top;
            margin-left: 15px;
            width: calc(100vw - 115px);
            line-height: 16px;
            padding-top: 10px;
            p {
                margin-bottom: 10px;
            }
        }
    }
    &.author-list {
        .author {
            height: 25px;
            padding: 3px 15px;
            .author-name {
                float: left;
                color: rgb(40, 40, 40);
            }
            .author-case {
                float: right;
                cursor: pointer;
                span {
                    color: rgb(120,160,250);
                }
                i {
                    color: rgb(190, 190, 190);
                }
            }
        }

    }
}
