<app-search-input
  [(placeholder)]="status.topInputSearch.searchInputPlaceholder"
  [(back)]="status.topInputSearch.topBack"
  [(diseases)]="status.topInputSearch.diseasesButtonHide"
  [(disabled)]="status.topInputSearch.searchInputDisabled"
  (diseasesChange)="diseases($event)"
  [(search)]="status.topInputSearch.searchstr"
  (searchChange)="searchStr($event)"
  (previous)="previous()"
></app-search-input>
<app-search-type
  *ngIf="!status.diseases.active&&!status.diseases.diseasesNode"
  [searchOptions]="status.searchType.searchOptions"
  (init)="getCategoryList()"
  [(searchType)]="status.searchType.bookCataIds"
  [(disabled)]="status.searchType.searchTypeDisabled"
  (searchTypeChange)="searchTypeChang($event)"></app-search-type>
<p class="diseases-node-title" *ngIf="status.diseases.diseasesNode&&!status.diseases.active">病名：{{status.diseases.diseasesNode.title}}</p>
<app-search-result
  *ngIf="!status.diseases.active"
  [config]="status.resultList.searchResultType"
  [(index)]="status.resultList.searchResultIndex"
  (init)="searchResultInit($event)"
  (case)="caseContent($event)"
  (author)="authorSearch($event)"
  (book)="bookClick($event)"></app-search-result>
<nz-drawer [nzClosable]="false"
           [nzVisible]="!!caseItem"
           nzPlacement="right"
           [nzTitle]="titleCaseItem"
           (nzOnClose)="caseItem=null"
           nzWrapClassName="case-item-drawer"
>
  <ng-template #titleCaseItem>
    <div class="label">
      <i class="back" nz-icon nzType="left" nzTheme="outline" (click)="caseItem=null"></i>
      <span class="title">{{caseItem?.title}}</span>
    </div>
  </ng-template>
  <qk-scrollbar class="body">
    <nz-skeleton
      *ngIf="!caseItem?.content"
      [nzParagraph]="{rows:24}"
      [nzActive]="true"
      [nzTitle]="false"
    ></nz-skeleton>
    <p *ngIf="caseItem?.content" [innerHtml]="caseItem?.content | safeHtml"></p>
  </qk-scrollbar>
</nz-drawer>
<qk-scrollbar *ngIf="status.diseases.active" class="diseases-tree">
  <nz-tree [(nzData)]="status.diseases.diseasesNodes" nzShowLine (nzClick)="diseasesSearch($event)">
  </nz-tree>
</qk-scrollbar>
