@import "../style/vars";

.search-input {
  padding: 10px;
  border-bottom: 1px solid $color-order-bg;
  input {
    background: rgb(244,244,245);
    border: none;
    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color: rgba(72,84,143,0.8);
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: rgba(72,84,143,0.8);
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: rgba(72,84,143,0.8);
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: rgba(72,84,143,0.8);
    }
  }
  .back-icon {
    color: #507cdc;
    display: inline-block !important;
    width: 20px;
    margin-right: 10px;
    font-size: 20px;
    line-height: 20px;
    vertical-align: middle;
    i {
      cursor: pointer;
    }
  }
  .back-input {
    width: calc(100% - 32px);
    display: inline-block;
    // float:left;
  }
  .type-search-input {
    // width: calc(80% - 60px);
    width: calc(100% - 60px);
    display: inline-block;
    // float: left;
  }
  .type-search-input.back-input {
    width: calc(80% - 93px);
    display: inline-block;
  }
  .type-search {
    display: inline-block !important;
    nz-select {
      width: 60px;
      .ant-select-selection {
        border: none !important;
      }
      .ant-select-open .ant-select-selection {
        box-shadow: none !important;
      }
      .ant-select-selection__rendered {
        margin: 0 !important;
      }
      .ant-select-focused .ant-select-selection, .ant-select-selection:focus, .ant-select-selection:active {
        box-shadow: none !important;
      }
    }
  }
}
[caseSearchExtend] {
  line-height: 30px;
  padding-left: 10px;
  margin-bottom: -10px;
  [radio] {
    /deep/.ant-checkbox-inner {
      border-radius: 20px;
    }
  }
  @media screen and (max-width: 767px) {
    &{
      padding-left: 70px;
    }
  }
}
