@import "../style/vars";


.search-input {
  padding: 10px;
  border-bottom: 1px solid $color-order-bg;
  input {
    background: rgb(244,244,245);
    border: none;
    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color: rgba(72,84,143,0.8);
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: rgba(72,84,143,0.8);
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: rgba(72,84,143,0.8);
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: rgba(72,84,143,0.8);
    }
  }
  .back-icon {
    color: #507cdc;
    display: inline-block !important;
    width: 20px;
    margin-right: 10px;
    font-size: 20px;
    line-height: 20px;
    vertical-align: middle;
    i {
      cursor: pointer;
    }
  }
  .back-input {
    width: calc(100% - 32px);
    display: inline-block;
  }
  .diseases-input {
    width: calc(100% - 70px);
    display: inline-block;
  }
  .diseases-input.back-input {
    width: calc(100% - 103px);
    display: inline-block;
  }
  .diseases {
    display: inline-block !important;
    padding-left: 10px;
  }
}
