<div class="clearfix">
  <nz-upload class="avatar-uploader" nzAction="https://jsonplaceholder.typicode.com/posts/" nzName="avatar"
    nzListType="picture-card" [nzShowUploadList]="false" [nzBeforeUpload]="beforeUpload"
    (nzChange)="handleChange($event)" nzNoAnimation nzAccept=".mp4" [nzDisabled]="config.result || config.disabled"
    [nzCustomRequest]="customReq">
    <ng-container *ngIf="!config.result">
      <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
      <div class="ant-upload-text" *ngIf="!config.disabled">{{config.label?config.label:'上传MP4视频'}}</div>
    </ng-container>
    <video *ngIf="config.result" [src]="config.result" class="avatar" controls="controls">
      您的浏览器不支持 video 标签。
    </video>
    <i class="delete-v" *ngIf="config.result&&!config.disabled" (click)="deleteV()" nz-icon nzType="delete" nzTheme="outline"></i>
  </nz-upload>
</div>