@import "../style/vars";

.body {
    margin-top: 10px;
    height: calc(100vh - 350px);
    .row {
        margin-bottom: 15px;
        text-align: center;
        .title {
            text-align: right;
            color: #000;
            font-weight: bolder;
            font-size: 16px;
            padding-right: 20px;
        }
    }
}
.edit-count {
    border: none;
    font-size: 20px;
    border-bottom: $border;
    width: 45px;
    height: 30px;
    &:focus {
        outline: none;
    }
}
.edit-item {
    border: none;
    font-size: 20px;
    border-bottom: $border;
    width: 80%;
    height: 27px;
    &:focus {
        outline: none;
    }
}
.edit-text {
    border: none;
    font-size: 20px;
    // border-bottom: $border;
    width: 90%;
    height: 27px;
    &:focus {
        outline: none;
    }
}
.ok {
    width: 30%;
    font-size: 20px;
    padding: 5px;
    height: 30px;
    margin-top: 10px;
}

.analy {
    margin: 0 auto;
    width: 200px;
    height: 100px;
    border: 1px;
}