/*Predefined variables*/
$color-nav-deep: #085C9A !important;
$color-nav-light: #1A6FB0 !important;
$color-nav-hover: #2989C3 !important;

$color-black-primary: #565656 !important;
$color-text-aux: #999 !important; 
$color-text-tip: #c6c6c6 !important; 
$color-text-warning: #e4393c !important; 
$color-text-diseditable: rgba(0,0,0,.25) !important; 
$color-text-primary: #0089e0 !important; 
$color-text-primary-hover: #55b6f4 !important; 
$color-text-version: #F6A973 !important; 

$color-warning-bg: rgba(228, 57, 60, .3) !important; 


$color-order-bg: #E5E5E5 !important;
$color-order: #bdbdbd !important; 
//$color-order-bg-active: #085C9A !important; 
$color-order-bg-hover: #d4d4d4 !important; 
$color-order-hover: #a4a4a4 !important; 
//$color-order-tr-bg-active: #0089e0 !important; 
$color-order-tr-bg-hover: #E1E1E1 !important;
$color-content-hover: #8ad2ff !important; 
$color-content-gray: #9c9a9a !important;

$color-stripe-tr-bg: #F1F5F8 !important;

$color-gray-light: #f6f6f6 !important;
$color-gray: #f3f3f3 !important; 
$color-black-lighter: #e8e8e8 !important; 
$color-input-border: #d9d9d9 !important;

$color-bg-table-hover: #e9e9e9 !important; 
$color-bg-table-active: #dbdbdb !important; 
$color-bg-table-hover-lighter: #ebf6ff !important; 


$color-button-border: #d6d6d6 !important; 
$color-button-text: #888 !important; 
$color-button-text-disabled: #c6c6c6 !important; 


$color-button-bg: #1d88da !important; 
$color-button-bg-hover: #55b6f4 !important; 
$color-button-bg-disabled: #b4cfe4 !important; 
$color-button-bg-cancel: #e6e6e6 !important; 
$color-button-bg-cancel-hover: #eee !important; 

$color-button-secondary: #6fbef9 !important; 
$color-button-secondary-hover: #8bc8f9 !important; 

$color-blue-lighter: #ECF6FF !important;
$color-blue-lighter-hover: #E6F0F8 !important;
$color-blue-light: #2C9CE6 !important;
$color-blue-chart: #55BDF0 !important;
$color-blue-application: #108ee9 !important;

$color-white: #fff !important; 
$color-application-bg: #F2F2F2;  

$color-gray-light-bg: #D4D4D4 !important; /* close-circle bg */
$color-gray-light-bg-hover: #C8C8D4 !important; /* close-circle bg hover */

$color-gray-bg: #bbb !important; 
$application-bg: #eeecec !important; 


$color-green: #0fb970 !important;
$color-green-hover: #0FE995 !important;
$color-green-icon: #11B870 !important;
$color-gray-remote: #999 !important;
$color-gray-remote-bg: #F8F8F8 !important;
$color-login-shadow: #00243e;
$color-dashboard-device: #06E0D3 !important;

$border: 1px solid $color-black-lighter;
