@import "../style/vars";

.search-type {
  margin-top: 10px;
    .search-type-label {
        margin-right: -8px;
        padding-left: 14px;
        line-height: 32px;
        width: auto;
    }
    .search-type-value {
        width: calc(100% - 85px);
    }
    nz-cascader {
        width: 100%;
        /deep/input {
            border: none;
            &:focus {
                box-shadow: none !important;
            }
        }
        &:focus {
            /deep/input {
                box-shadow: none !important;
            }
        }
        /deep/i {
            display: none;
        }
        /deep/.ant-cascader-input-disabled {
          background-color: white !important;
        }
    }
}
/deep/ul.ant-cascader-menu {
  height: auto !important;
  max-height: 85vh !important;
}
